@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <label>
        Username
        <input asp-for="Username" autocomplete="username" autofocus />
    </label>
    <label>
        Password
        <input asp-for="Password" type="password" autocomplete="current-password" />
    </label>
    <button type="submit">Sign in</button>
</form>
