@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@if (Model.ErrorMessage is not null)
{
    <p class="error">@Model.ErrorMessage</p>
}

<form method="post">
    <label>
        Username
        <input asp-for="Username" autocomplete="username" autofocus />
    </label>
    <label>
        Password
        <input asp-for="Password" type="password" autocomplete="current-password" />
    </label>
    <button type="submit">Sign in</button>
</form>

<p>Don't have an account? <a asp-page="/Signup">Sign up</a></p>
