@page
@model SignupModel
@{
    ViewData["Title"] = "Sign Up";
}

<h1>Sign Up</h1>

@if (Model.Errors.Count > 0)
{
    <ul class="errors">
        @foreach (var error in Model.Errors)
        {
            <li>@error</li>
        }
    </ul>
}

<form method="post">
    <label>
        Email
        <input asp-for="Email" type="email" autocomplete="email" autofocus />
    </label>
    <label>
        Username
        <input asp-for="Username" autocomplete="username" />
    </label>
    <label>
        Password
        <input asp-for="Password" type="password" autocomplete="new-password" />
    </label>
    <label>
        Confirm Password
        <input asp-for="ConfirmPassword" type="password" autocomplete="new-password" />
    </label>
    <button type="submit">Sign up</button>
</form>

<p>Already have an account? <a asp-page="/Login">Log in</a></p>
